main{
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    gap: 10vh;
}

::selection{
    background-color: #ef8e38;
    color: black;
}

main > b{
    width: 90%;
    font-size: 4.5vh;
    text-align: center;
    animation: pulse 1.5s alternate infinite linear;
}

@keyframes pulse {
    0%  {text-shadow: 0 0 0.4vh aliceblue, 0 0 0.4vh aliceblue;
    transform: scale(115%);}
    100%{text-shadow: 0 0 0.4vh transparent, 0 0 0.4vh transparent;
        transform: scale(95%);}
}

form{
    align-items: center;
    justify-content: center;
    padding: 3vh;
    box-sizing: border-box;
}

input , button{
    color: #FFE6D8;
    font-weight: bold;
    outline: none;
}

button{
    cursor: pointer;
}

input.pl:hover, input.pl:focus-visible , input.pl:focus, button:hover{
    transform: scale(102%);
    border-color: #ef8e38;
}

input.pl.noFocus:hover, input.pl.noFocus:focus-visible, input.pl.noFocus:focus{
    transform: scale(100%);
    border-color: #533a26;
}

input.pl.noFocus::selection{
    background-color: transparent;
    color: #FFE6D8;
}

form > div{
    flex-direction: column;
    height: 70%;
    width: 100%;
}

form > div > div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

form > div > div > b{
    font-size: 20px;
}

.pl{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    width: 100%;
    transition: border-color 0.2s, transform 0.2s;
}