@font-face {
    font-family: "regular";
    src: url(../font/RedHatDisplay-Medium.otf);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    font-family: "regular" !important;
    background-image: linear-gradient(to right, #108dc7, #ef8e38);
}

footer > b {
    font-size: 2vh;
}

header , footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5vh;
    background-color: #9DADBC;
}

header {
    height: 8vh;
}

header > div{
    display: flex;
    height: 65%;
    padding: 0px 20px;
    width: 450px;
    gap: 45px;
    border-radius: 30px;
    border: 0.5vh rgb(83, 58, 38) solid;
}

header > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header > div > span{
    position: absolute;
    width: 200%;
    height: 1100%;
    background-image: linear-gradient(to right, #ef8e38, #ef8e38, #ef8e38,
        #e16470, #a25c90, #565883, #2f4858, #2f4858, #2f4858);
    transition: transform 0.5s;
}

header > div > div{
    z-index: 1;
    width: 50%;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 1.8vh;
    transition: opacity 1s, font-size 1s;
    opacity: 0.2;
    animation: none;
}

.turno2 > span {
    transform: rotate(180deg);
}

.turno1 > div:last-child , .turno2 > div:first-child{
    font-size: 1.8vh;
}

.turno2 > div:last-child , .turno1 > div:first-child{
    opacity: 1;
    animation: pulse 0.9s alternate infinite;
}

@keyframes pulse {
    0%  {text-shadow: 0 0 0.4vh aliceblue, 0 0 0.4vh aliceblue;
    font-size: 3vh;}
    100%{text-shadow: 0 0 0.4vh transparent, 0 0 0.4vh transparent;
        font-size: 2.5vh;}
}

main{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    height: 80%;
}

#table{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 8px rgb(83, 58, 38) solid;
    background-color: rgba(149, 104, 70, 0.75);
    border-radius: 30px;
    box-shadow: 6px 6px 10px black;
}

.pl{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    width: 380px;
    height: 80px;
    box-sizing: border-box;
    border: 6px rgb(83, 58, 38) solid;
    border-radius: 20px;
    box-shadow: 6px 6px 10px black;
    background-color: #b04e34;
}

.pl > div {
    min-width: 10%;
    height: 100%;
}

.pl > div > img{
    cursor: default;
}

#table > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    display: flex;
    width: 27.5%;
    height: 82.5%;
    filter: drop-shadow(3px 4px 0 rgba(0, 0, 0, 0.6));
    perspective: 1000px;
}

.card > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 4px #ffffff outset;
    border-radius: 15px;
    background-color: #ffffff;
    transition: transform 0.5s, background-color 0.2s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.scopri{
    transform: rotateY(180deg);
}

.card > div:active{
    border-style: inset;
    transform: scale(95%);
}

.card > .scopri:active{
    border-style: inset;
    transform: scale(95%) rotateY(180deg);
}

.card > div:not(.scopri):hover{
    background-color: #cccccc;
}

.card > div > div {
    width: 90%;
    height: 90%;
    background-size: cover;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

#menu{
    position: absolute;
    z-index: 10;
    top: -50vh;
    left: calc(50vw - 17.5vh);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 35vh;
    height: 20vh;
    border: 0.8vh rgb(83, 58, 38) solid;
    border-radius: 3vh;
    box-shadow: 8px 8px 10px black;
    background-image: linear-gradient(to right, #ef8e38,#e16470, #a25c90, #565883);
    transition: top 0.7s;
}

#menu > b{
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3vh;
}

#menu > div {
    display: flex;
    justify-content: space-evenly;
    height: 35%;
    width: 100%;
}

#menu > div > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    width: 40%;
    height: 4vh;
    border: 0.5vh rgb(83, 58, 38) solid;
    border-radius: 2vh;
    font-size: 2vh;
    font-family: "regular";
    box-shadow: 6px 6px 10px black;
    background-color: #b04e34;
    cursor: pointer;
    transition: border-color 0.3s, transform 0.3s;
}

#menu > div > button:hover{
    transform: scale(110%);
    border-color: #ef8e38;
}

@media screen and (max-height: 700px) {
    main{
        transform: scale(80%);
    }
}

@media screen and (max-width: 1100px) {
    main{
        gap: 40px;
    }
}

@media screen and (max-width: 970px) {
    #table{
        width: 400px;
        height: 400px;
    }

    .pl{
        width: 320px;
        height: 70px;
    }
}

@media screen and (max-width: 810px) {
    main{
        gap: 0;
        justify-content: space-around;
        flex-direction: column;
    }

    .pl{
        width: 320px;
        height: 65px;
        border-width: 4px;
    }
}

@media screen and (max-width: 700px) {
    .pl{
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    #table{
        transform: scale(85%);
    }

    header > div{
        width: 80%;
    }
    
    header > div > div{
        font-size: 2.3vh !important;
    }
}

@media screen and (max-width:370px) {
    #table{
        transform: scale(65%);
    }

    header > div {
        transform: scale(80%);
    }
}